
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li>
                    <a href="/docs/providers/byteplus/index.html">Byteplus Provider</a>
                </li>
                
                <li>
                    <a href="#">BANDWIDTH_PACKAGE</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/bandwidth_packages.html">bandwidth_packages</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/bandwidth_package.html">bandwidth_package</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/bandwidth_package_attachment.html">bandwidth_package_attachment</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">CLB</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/acls.html">acls</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/certificates.html">certificates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/clbs.html">clbs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/listeners.html">listeners</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/clb_rules.html">clb_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/server_groups.html">server_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/server_group_servers.html">server_group_servers</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/clb_zones.html">clb_zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/acl.html">acl</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/acl_entry.html">acl_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/certificate.html">certificate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/clb.html">clb</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/listener.html">listener</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/clb_rule.html">clb_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/server_group.html">server_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/server_group_server.html">server_group_server</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">EBS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/volumes.html">volumes</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/volume.html">volume</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/volume_attach.html">volume_attach</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">ECS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/ecs_available_resources.html">ecs_available_resources</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/ecs_deployment_sets.html">ecs_deployment_sets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/ecs_instances.html">ecs_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/ecs_instance_types.html">ecs_instance_types</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/ecs_key_pairs.html">ecs_key_pairs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/images.html">images</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/regions.html">regions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/zones.html">zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_deployment_set.html">ecs_deployment_set</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_deployment_set_associate.html">ecs_deployment_set_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_instance.html">ecs_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_instance_state.html">ecs_instance_state</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_key_pair.html">ecs_key_pair</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_key_pair_associate.html">ecs_key_pair_associate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">EIP</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/eip_addresses.html">eip_addresses</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/eip_address.html">eip_address</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/eip_associate.html">eip_associate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">NAT</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/dnat_entries.html">dnat_entries</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/nat_gateways.html">nat_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/snat_entries.html">snat_entries</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/dnat_entry.html">dnat_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/nat_gateway.html">nat_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/snat_entry.html">snat_entry</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">VPC</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/vpc_ipv6_addresses.html">vpc_ipv6_addresses</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vpc_ipv6_address_bandwidths.html">vpc_ipv6_address_bandwidths</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vpc_ipv6_gateways.html">vpc_ipv6_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/network_acls.html">network_acls</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/network_interfaces.html">network_interfaces</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/route_entries.html">route_entries</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/route_tables.html">route_tables</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/security_groups.html">security_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/security_group_rules.html">security_group_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/subnets.html">subnets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vpcs.html">vpcs</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/vpc_ipv6_address_bandwidth.html">vpc_ipv6_address_bandwidth</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vpc_ipv6_gateway.html">vpc_ipv6_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/network_acl.html">network_acl</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/network_acl_associate.html">network_acl_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/network_interface.html">network_interface</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/network_interface_attach.html">network_interface_attach</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/route_entry.html">route_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/route_table.html">route_table</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/route_table_associate.html">route_table_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/security_group.html">security_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/security_group_rule.html">security_group_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/subnet.html">subnet</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vpc.html">vpc</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>
    <%= yield %>
<% end %>
