
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li>
                    <a href="/docs/providers/byteplus/index.html">Byteplus Provider</a>
                </li>
                
                <li>
                    <a href="#">ALB</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/albs.html">albs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/alb_acls.html">alb_acls</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/alb_ca_certificates.html">alb_ca_certificates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/alb_certificates.html">alb_certificates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/alb_customized_cfgs.html">alb_customized_cfgs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/alb_health_check_templates.html">alb_health_check_templates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/alb_listeners.html">alb_listeners</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/alb_listener_domain_extensions.html">alb_listener_domain_extensions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/alb_rules.html">alb_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/alb_server_groups.html">alb_server_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/alb_server_group_servers.html">alb_server_group_servers</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/alb_zones.html">alb_zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/alb.html">alb</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/alb_acl.html">alb_acl</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/alb_ca_certificate.html">alb_ca_certificate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/alb_certificate.html">alb_certificate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/alb_customized_cfg.html">alb_customized_cfg</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/alb_health_check_template.html">alb_health_check_template</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/alb_listener.html">alb_listener</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/alb_listener_domain_extension.html">alb_listener_domain_extension</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/alb_rule.html">alb_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/alb_server_group.html">alb_server_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/alb_server_group_server.html">alb_server_group_server</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">AUTOSCALING</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/scaling_activities.html">scaling_activities</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/scaling_configurations.html">scaling_configurations</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/scaling_groups.html">scaling_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/scaling_instances.html">scaling_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/scaling_lifecycle_hooks.html">scaling_lifecycle_hooks</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/scaling_policies.html">scaling_policies</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/scaling_configuration.html">scaling_configuration</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/scaling_configuration_attachment.html">scaling_configuration_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/scaling_group.html">scaling_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/scaling_group_enabler.html">scaling_group_enabler</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/scaling_instance_attachment.html">scaling_instance_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/scaling_lifecycle_hook.html">scaling_lifecycle_hook</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/scaling_policy.html">scaling_policy</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">BANDWIDTH_PACKAGE</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/bandwidth_packages.html">bandwidth_packages</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/bandwidth_package.html">bandwidth_package</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/bandwidth_package_attachment.html">bandwidth_package_attachment</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">CDN</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/cdn_certificates.html">cdn_certificates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cdn_cipher_templates.html">cdn_cipher_templates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cdn_cron_jobs.html">cdn_cron_jobs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cdn_domains.html">cdn_domains</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cdn_edge_functions.html">cdn_edge_functions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cdn_edge_function_publishes.html">cdn_edge_function_publishes</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cdn_kvs.html">cdn_kvs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cdn_kv_namespaces.html">cdn_kv_namespaces</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cdn_service_templates.html">cdn_service_templates</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_certificate.html">cdn_certificate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_cipher_template.html">cdn_cipher_template</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_cron_job.html">cdn_cron_job</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_cron_job_state.html">cdn_cron_job_state</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_domain.html">cdn_domain</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_domain_enabler.html">cdn_domain_enabler</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_edge_function.html">cdn_edge_function</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_edge_function_associate.html">cdn_edge_function_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_edge_function_publish.html">cdn_edge_function_publish</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_kv.html">cdn_kv</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_kv_namespace.html">cdn_kv_namespace</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_service_template.html">cdn_service_template</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">CEN</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/cens.html">cens</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cen_attach_instances.html">cen_attach_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cen_bandwidth_packages.html">cen_bandwidth_packages</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cen_inter_region_bandwidths.html">cen_inter_region_bandwidths</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cen_route_entries.html">cen_route_entries</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cen_service_route_entries.html">cen_service_route_entries</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/cen.html">cen</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cen_attach_instance.html">cen_attach_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cen_bandwidth_package.html">cen_bandwidth_package</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cen_bandwidth_package_associate.html">cen_bandwidth_package_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cen_grant_instance.html">cen_grant_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cen_inter_region_bandwidth.html">cen_inter_region_bandwidth</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cen_route_entry.html">cen_route_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cen_service_route_entry.html">cen_service_route_entry</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">CLASSIC_CDN</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/classic_cdn_certificates.html">classic_cdn_certificates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/classic_cdn_configs.html">classic_cdn_configs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/classic_cdn_domains.html">classic_cdn_domains</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/classic_cdn_shared_configs.html">classic_cdn_shared_configs</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/classic_cdn_certificate.html">classic_cdn_certificate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/classic_cdn_domain.html">classic_cdn_domain</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/classic_cdn_shared_config.html">classic_cdn_shared_config</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">CLB</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/acls.html">acls</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/certificates.html">certificates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/clbs.html">clbs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/listeners.html">listeners</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/clb_rules.html">clb_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/server_groups.html">server_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/server_group_servers.html">server_group_servers</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/clb_zones.html">clb_zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/acl.html">acl</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/acl_entry.html">acl_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/certificate.html">certificate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/clb.html">clb</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/listener.html">listener</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/clb_rule.html">clb_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/server_group.html">server_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/server_group_server.html">server_group_server</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">CLOUD_MONITOR</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/cloud_monitor_contacts.html">cloud_monitor_contacts</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cloud_monitor_contact_groups.html">cloud_monitor_contact_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cloud_monitor_object_groups.html">cloud_monitor_object_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cloud_monitor_rules.html">cloud_monitor_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cloud_monitor_webhooks.html">cloud_monitor_webhooks</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/cloud_monitor_contact.html">cloud_monitor_contact</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cloud_monitor_contact_group.html">cloud_monitor_contact_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cloud_monitor_object_group.html">cloud_monitor_object_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cloud_monitor_rule.html">cloud_monitor_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cloud_monitor_webhook.html">cloud_monitor_webhook</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">CR</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/cr_authorization_tokens.html">cr_authorization_tokens</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cr_endpoints.html">cr_endpoints</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cr_namespaces.html">cr_namespaces</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cr_registries.html">cr_registries</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cr_repositories.html">cr_repositories</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cr_tags.html">cr_tags</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cr_vpc_endpoints.html">cr_vpc_endpoints</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/cr_endpoint.html">cr_endpoint</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cr_endpoint_acl_policy.html">cr_endpoint_acl_policy</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cr_namespace.html">cr_namespace</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cr_registry.html">cr_registry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cr_registry_state.html">cr_registry_state</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cr_repository.html">cr_repository</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cr_tag.html">cr_tag</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cr_vpc_endpoint.html">cr_vpc_endpoint</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">DIRECT_CONNECT</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/direct_connect_bgp_peers.html">direct_connect_bgp_peers</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/direct_connect_connections.html">direct_connect_connections</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/direct_connect_gateways.html">direct_connect_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/direct_connect_gateway_routes.html">direct_connect_gateway_routes</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/direct_connect_virtual_interfaces.html">direct_connect_virtual_interfaces</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/direct_connect_bgp_peer.html">direct_connect_bgp_peer</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/direct_connect_connection.html">direct_connect_connection</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/direct_connect_gateway.html">direct_connect_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/direct_connect_gateway_route.html">direct_connect_gateway_route</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/direct_connect_virtual_interface.html">direct_connect_virtual_interface</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">EBS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/volumes.html">volumes</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/volume.html">volume</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/volume_attach.html">volume_attach</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">ECS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/ecs_available_resources.html">ecs_available_resources</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/ecs_deployment_sets.html">ecs_deployment_sets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/ecs_instances.html">ecs_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/ecs_instance_types.html">ecs_instance_types</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/ecs_key_pairs.html">ecs_key_pairs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/ecs_launch_templates.html">ecs_launch_templates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/images.html">images</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/regions.html">regions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/zones.html">zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_deployment_set.html">ecs_deployment_set</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_deployment_set_associate.html">ecs_deployment_set_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_instance.html">ecs_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_instance_state.html">ecs_instance_state</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_key_pair.html">ecs_key_pair</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_key_pair_associate.html">ecs_key_pair_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_launch_template.html">ecs_launch_template</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">EIP</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/eip_addresses.html">eip_addresses</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/eip_address.html">eip_address</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/eip_associate.html">eip_associate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">ESCLOUD</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/escloud_instances_v2.html">escloud_instances_v2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/escloud_instance_v2.html">escloud_instance_v2</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/escloud_ip_white_list.html">escloud_ip_white_list</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">IAM</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/iam_access_keys.html">iam_access_keys</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/iam_policies.html">iam_policies</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/iam_roles.html">iam_roles</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/iam_saml_providers.html">iam_saml_providers</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/iam_users.html">iam_users</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/iam_user_groups.html">iam_user_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/iam_user_group_policy_attachments.html">iam_user_group_policy_attachments</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/iam_access_key.html">iam_access_key</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/iam_login_profile.html">iam_login_profile</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/iam_policy.html">iam_policy</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/iam_role.html">iam_role</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/iam_role_policy_attachment.html">iam_role_policy_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/iam_saml_provider.html">iam_saml_provider</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/iam_user.html">iam_user</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/iam_user_group.html">iam_user_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/iam_user_group_attachment.html">iam_user_group_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/iam_user_group_policy_attachment.html">iam_user_group_policy_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/iam_user_policy_attachment.html">iam_user_policy_attachment</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">KAFKA</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/kafka_allow_lists.html">kafka_allow_lists</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/kafka_consumed_topics.html">kafka_consumed_topics</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/kafka_groups.html">kafka_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/kafka_instances.html">kafka_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/kafka_regions.html">kafka_regions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/kafka_sasl_users.html">kafka_sasl_users</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/kafka_topics.html">kafka_topics</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/kafka_topic_partitions.html">kafka_topic_partitions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/kafka_zones.html">kafka_zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/kafka_allow_list.html">kafka_allow_list</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/kafka_allow_list_associate.html">kafka_allow_list_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/kafka_group.html">kafka_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/kafka_instance.html">kafka_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/kafka_public_address.html">kafka_public_address</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/kafka_sasl_user.html">kafka_sasl_user</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/kafka_topic.html">kafka_topic</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">MONGODB</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/mongodb_accounts.html">mongodb_accounts</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/mongodb_allow_lists.html">mongodb_allow_lists</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/mongodb_endpoints.html">mongodb_endpoints</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/mongodb_instances.html">mongodb_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/mongodb_instance_parameters.html">mongodb_instance_parameters</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/mongodb_instance_parameter_logs.html">mongodb_instance_parameter_logs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/mongodb_regions.html">mongodb_regions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/mongodb_specs.html">mongodb_specs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/mongodb_ssl_states.html">mongodb_ssl_states</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/mongodb_zones.html">mongodb_zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/mongodb_account.html">mongodb_account</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/mongodb_allow_list.html">mongodb_allow_list</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/mongodb_allow_list_associate.html">mongodb_allow_list_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/mongodb_endpoint.html">mongodb_endpoint</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/mongodb_instance.html">mongodb_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/mongodb_instance_parameter.html">mongodb_instance_parameter</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/mongodb_ssl_state.html">mongodb_ssl_state</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">NAT</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/dnat_entries.html">dnat_entries</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/nat_gateways.html">nat_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/snat_entries.html">snat_entries</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/dnat_entry.html">dnat_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/nat_gateway.html">nat_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/snat_entry.html">snat_entry</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">ORGANIZATION</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/organizations.html">organizations</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/organization_accounts.html">organization_accounts</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/organization_service_control_policies.html">organization_service_control_policies</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/organization_units.html">organization_units</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/organization.html">organization</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/organization_account.html">organization_account</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/organization_service_control_policy.html">organization_service_control_policy</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/organization_service_control_policy_attachment.html">organization_service_control_policy_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/organization_service_control_policy_enabler.html">organization_service_control_policy_enabler</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/organization_unit.html">organization_unit</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">PRIVATELINK</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/privatelink_vpc_endpoints.html">privatelink_vpc_endpoints</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/privatelink_vpc_endpoint_connections.html">privatelink_vpc_endpoint_connections</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/privatelink_vpc_endpoint_services.html">privatelink_vpc_endpoint_services</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/privatelink_vpc_endpoint_service_permissions.html">privatelink_vpc_endpoint_service_permissions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/privatelink_vpc_endpoint_zones.html">privatelink_vpc_endpoint_zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/privatelink_vpc_endpoint.html">privatelink_vpc_endpoint</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/privatelink_vpc_endpoint_connection.html">privatelink_vpc_endpoint_connection</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/privatelink_vpc_endpoint_service.html">privatelink_vpc_endpoint_service</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/privatelink_vpc_endpoint_service_permission.html">privatelink_vpc_endpoint_service_permission</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/privatelink_vpc_endpoint_zone.html">privatelink_vpc_endpoint_zone</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">RDS_MYSQL</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/rds_mysql_allowlists.html">rds_mysql_allowlists</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/rds_mysql_accounts.html">rds_mysql_accounts</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/rds_mysql_backups.html">rds_mysql_backups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/rds_mysql_databases.html">rds_mysql_databases</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/rds_mysql_endpoints.html">rds_mysql_endpoints</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/rds_mysql_instances.html">rds_mysql_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/rds_mysql_instance_specs.html">rds_mysql_instance_specs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/rds_mysql_parameter_templates.html">rds_mysql_parameter_templates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/rds_mysql_regions.html">rds_mysql_regions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/rds_mysql_zones.html">rds_mysql_zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_mysql_allowlist.html">rds_mysql_allowlist</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_mysql_allowlist_associate.html">rds_mysql_allowlist_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_mysql_account.html">rds_mysql_account</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_mysql_backup.html">rds_mysql_backup</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_mysql_backup_policy.html">rds_mysql_backup_policy</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_mysql_database.html">rds_mysql_database</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_mysql_endpoint.html">rds_mysql_endpoint</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_mysql_endpoint_public_address.html">rds_mysql_endpoint_public_address</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_mysql_instance.html">rds_mysql_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_mysql_instance_readonly_node.html">rds_mysql_instance_readonly_node</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_mysql_parameter_template.html">rds_mysql_parameter_template</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">RDS_POSTGRESQL</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/rds_postgresql_accounts.html">rds_postgresql_accounts</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/rds_postgresql_databases.html">rds_postgresql_databases</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/rds_postgresql_instances.html">rds_postgresql_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/rds_postgresql_schemas.html">rds_postgresql_schemas</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_postgresql_account.html">rds_postgresql_account</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_postgresql_database.html">rds_postgresql_database</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_postgresql_instance.html">rds_postgresql_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_postgresql_instance_readonly_node.html">rds_postgresql_instance_readonly_node</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_postgresql_schema.html">rds_postgresql_schema</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">REDIS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/redis_accounts.html">redis_accounts</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/redis_allow_lists.html">redis_allow_lists</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/redis_backups.html">redis_backups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/redis_big_keys.html">redis_big_keys</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/redis_instances.html">redis_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/redis_instance_specs.html">redis_instance_specs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/redis_parameter_groups.html">redis_parameter_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/redis_pitr_time_periods.html">redis_pitr_time_periods</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/redis_planned_events.html">redis_planned_events</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/redis_regions.html">redis_regions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/redis_zones.html">redis_zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/redis_account.html">redis_account</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/redis_allow_list.html">redis_allow_list</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/redis_allow_list_associate.html">redis_allow_list_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/redis_backup.html">redis_backup</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/redis_backup_restore.html">redis_backup_restore</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/redis_continuous_backup.html">redis_continuous_backup</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/redis_endpoint.html">redis_endpoint</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/redis_instance.html">redis_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/redis_instance_state.html">redis_instance_state</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/redis_parameter_group.html">redis_parameter_group</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">TOS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/tos_buckets.html">tos_buckets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/tos_bucket_inventories.html">tos_bucket_inventories</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/tos_objects.html">tos_objects</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/tos_bucket.html">tos_bucket</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/tos_bucket_cors.html">tos_bucket_cors</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/tos_bucket_encryption.html">tos_bucket_encryption</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/tos_bucket_inventory.html">tos_bucket_inventory</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/tos_bucket_notification.html">tos_bucket_notification</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/tos_bucket_policy.html">tos_bucket_policy</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/tos_bucket_realtime_log.html">tos_bucket_realtime_log</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/tos_object.html">tos_object</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">VKE</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/vke_addons.html">vke_addons</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vke_clusters.html">vke_clusters</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vke_kubeconfigs.html">vke_kubeconfigs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vke_nodes.html">vke_nodes</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vke_node_pools.html">vke_node_pools</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vke_support_addons.html">vke_support_addons</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vke_support_resource_types.html">vke_support_resource_types</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/vke_addon.html">vke_addon</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vke_cluster.html">vke_cluster</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vke_default_node_pool.html">vke_default_node_pool</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vke_default_node_pool_batch_attach.html">vke_default_node_pool_batch_attach</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vke_kubeconfig.html">vke_kubeconfig</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vke_node.html">vke_node</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vke_node_pool.html">vke_node_pool</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">VPC</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/vpc_ipv6_addresses.html">vpc_ipv6_addresses</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vpc_ipv6_address_bandwidths.html">vpc_ipv6_address_bandwidths</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vpc_ipv6_gateways.html">vpc_ipv6_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/network_acls.html">network_acls</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/network_interfaces.html">network_interfaces</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/route_entries.html">route_entries</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/route_tables.html">route_tables</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/security_groups.html">security_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/security_group_rules.html">security_group_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/subnets.html">subnets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vpcs.html">vpcs</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/vpc_ipv6_address_bandwidth.html">vpc_ipv6_address_bandwidth</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vpc_ipv6_gateway.html">vpc_ipv6_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/network_acl.html">network_acl</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/network_acl_associate.html">network_acl_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/network_interface.html">network_interface</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/network_interface_attach.html">network_interface_attach</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/route_entry.html">route_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/route_table.html">route_table</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/route_table_associate.html">route_table_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/security_group.html">security_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/security_group_rule.html">security_group_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/subnet.html">subnet</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vpc.html">vpc</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">VPN</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/customer_gateways.html">customer_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/ssl_vpn_client_certs.html">ssl_vpn_client_certs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/ssl_vpn_servers.html">ssl_vpn_servers</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vpn_connections.html">vpn_connections</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vpn_gateways.html">vpn_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vpn_gateway_routes.html">vpn_gateway_routes</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/customer_gateway.html">customer_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ssl_vpn_client_cert.html">ssl_vpn_client_cert</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ssl_vpn_server.html">ssl_vpn_server</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vpn_connection.html">vpn_connection</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vpn_gateway.html">vpn_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vpn_gateway_route.html">vpn_gateway_route</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">WAF</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/waf_acl_rules.html">waf_acl_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/waf_bot_analyse_protect_rules.html">waf_bot_analyse_protect_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/waf_cc_rules.html">waf_cc_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/waf_custom_bots.html">waf_custom_bots</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/waf_custom_pages.html">waf_custom_pages</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/waf_domains.html">waf_domains</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/waf_host_groups.html">waf_host_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/waf_ip_groups.html">waf_ip_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/waf_prohibitions.html">waf_prohibitions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/waf_service_certificates.html">waf_service_certificates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/waf_system_bots.html">waf_system_bots</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/waf_acl_rule.html">waf_acl_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/waf_bot_analyse_protect_rule.html">waf_bot_analyse_protect_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/waf_cc_rule.html">waf_cc_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/waf_custom_bot.html">waf_custom_bot</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/waf_custom_page.html">waf_custom_page</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/waf_domain.html">waf_domain</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/waf_host_group.html">waf_host_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/waf_instance_ctl.html">waf_instance_ctl</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/waf_ip_group.html">waf_ip_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/waf_system_bot.html">waf_system_bot</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/waf_vulnerability.html">waf_vulnerability</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>
    <%= yield %>
<% end %>
