
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li>
                    <a href="/docs/providers/byteplus/index.html">Byteplus Provider</a>
                </li>
                
                <li>
                    <a href="#">AUTOSCALING</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/scaling_activities.html">scaling_activities</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/scaling_configurations.html">scaling_configurations</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/scaling_groups.html">scaling_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/scaling_instances.html">scaling_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/scaling_lifecycle_hooks.html">scaling_lifecycle_hooks</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/scaling_policies.html">scaling_policies</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/scaling_configuration.html">scaling_configuration</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/scaling_configuration_attachment.html">scaling_configuration_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/scaling_group.html">scaling_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/scaling_group_enabler.html">scaling_group_enabler</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/scaling_instance_attachment.html">scaling_instance_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/scaling_lifecycle_hook.html">scaling_lifecycle_hook</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/scaling_policy.html">scaling_policy</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">BANDWIDTH_PACKAGE</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/bandwidth_packages.html">bandwidth_packages</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/bandwidth_package.html">bandwidth_package</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/bandwidth_package_attachment.html">bandwidth_package_attachment</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">CDN</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/cdn_certificates.html">cdn_certificates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cdn_cipher_templates.html">cdn_cipher_templates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cdn_cron_jobs.html">cdn_cron_jobs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cdn_domains.html">cdn_domains</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cdn_edge_functions.html">cdn_edge_functions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cdn_edge_function_publishes.html">cdn_edge_function_publishes</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cdn_kvs.html">cdn_kvs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cdn_kv_namespaces.html">cdn_kv_namespaces</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cdn_service_templates.html">cdn_service_templates</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_certificate.html">cdn_certificate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_cipher_template.html">cdn_cipher_template</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_cron_job.html">cdn_cron_job</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_cron_job_state.html">cdn_cron_job_state</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_domain.html">cdn_domain</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_domain_enabler.html">cdn_domain_enabler</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_edge_function.html">cdn_edge_function</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_edge_function_associate.html">cdn_edge_function_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_edge_function_publish.html">cdn_edge_function_publish</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_kv.html">cdn_kv</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_kv_namespace.html">cdn_kv_namespace</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cdn_service_template.html">cdn_service_template</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">CEN</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/cens.html">cens</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cen_attach_instances.html">cen_attach_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cen_bandwidth_packages.html">cen_bandwidth_packages</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cen_inter_region_bandwidths.html">cen_inter_region_bandwidths</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cen_route_entries.html">cen_route_entries</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/cen_service_route_entries.html">cen_service_route_entries</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/cen.html">cen</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cen_attach_instance.html">cen_attach_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cen_bandwidth_package.html">cen_bandwidth_package</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cen_bandwidth_package_associate.html">cen_bandwidth_package_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cen_grant_instance.html">cen_grant_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cen_inter_region_bandwidth.html">cen_inter_region_bandwidth</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cen_route_entry.html">cen_route_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/cen_service_route_entry.html">cen_service_route_entry</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">CLASSIC_CDN</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/classic_cdn_certificates.html">classic_cdn_certificates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/classic_cdn_configs.html">classic_cdn_configs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/classic_cdn_domains.html">classic_cdn_domains</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/classic_cdn_shared_configs.html">classic_cdn_shared_configs</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/classic_cdn_certificate.html">classic_cdn_certificate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/classic_cdn_domain.html">classic_cdn_domain</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/classic_cdn_shared_config.html">classic_cdn_shared_config</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">CLB</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/acls.html">acls</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/certificates.html">certificates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/clbs.html">clbs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/listeners.html">listeners</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/clb_rules.html">clb_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/server_groups.html">server_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/server_group_servers.html">server_group_servers</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/clb_zones.html">clb_zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/acl.html">acl</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/acl_entry.html">acl_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/certificate.html">certificate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/clb.html">clb</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/listener.html">listener</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/clb_rule.html">clb_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/server_group.html">server_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/server_group_server.html">server_group_server</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">EBS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/volumes.html">volumes</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/volume.html">volume</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/volume_attach.html">volume_attach</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">ECS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/ecs_available_resources.html">ecs_available_resources</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/ecs_deployment_sets.html">ecs_deployment_sets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/ecs_instances.html">ecs_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/ecs_instance_types.html">ecs_instance_types</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/ecs_key_pairs.html">ecs_key_pairs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/ecs_launch_templates.html">ecs_launch_templates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/images.html">images</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/regions.html">regions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/zones.html">zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_deployment_set.html">ecs_deployment_set</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_deployment_set_associate.html">ecs_deployment_set_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_instance.html">ecs_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_instance_state.html">ecs_instance_state</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_key_pair.html">ecs_key_pair</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_key_pair_associate.html">ecs_key_pair_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ecs_launch_template.html">ecs_launch_template</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">EIP</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/eip_addresses.html">eip_addresses</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/eip_address.html">eip_address</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/eip_associate.html">eip_associate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">NAT</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/dnat_entries.html">dnat_entries</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/nat_gateways.html">nat_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/snat_entries.html">snat_entries</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/dnat_entry.html">dnat_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/nat_gateway.html">nat_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/snat_entry.html">snat_entry</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">RDS_POSTGRESQL</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/rds_postgresql_accounts.html">rds_postgresql_accounts</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/rds_postgresql_databases.html">rds_postgresql_databases</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/rds_postgresql_instances.html">rds_postgresql_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/rds_postgresql_schemas.html">rds_postgresql_schemas</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_postgresql_account.html">rds_postgresql_account</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_postgresql_database.html">rds_postgresql_database</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_postgresql_instance.html">rds_postgresql_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_postgresql_instance_readonly_node.html">rds_postgresql_instance_readonly_node</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/rds_postgresql_schema.html">rds_postgresql_schema</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">VKE</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/vke_addons.html">vke_addons</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vke_clusters.html">vke_clusters</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vke_kubeconfigs.html">vke_kubeconfigs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vke_nodes.html">vke_nodes</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vke_node_pools.html">vke_node_pools</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vke_support_addons.html">vke_support_addons</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vke_support_resource_types.html">vke_support_resource_types</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/vke_addon.html">vke_addon</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vke_cluster.html">vke_cluster</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vke_default_node_pool.html">vke_default_node_pool</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vke_default_node_pool_batch_attach.html">vke_default_node_pool_batch_attach</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vke_kubeconfig.html">vke_kubeconfig</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vke_node.html">vke_node</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vke_node_pool.html">vke_node_pool</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">VPC</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/vpc_ipv6_addresses.html">vpc_ipv6_addresses</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vpc_ipv6_address_bandwidths.html">vpc_ipv6_address_bandwidths</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vpc_ipv6_gateways.html">vpc_ipv6_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/network_acls.html">network_acls</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/network_interfaces.html">network_interfaces</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/route_entries.html">route_entries</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/route_tables.html">route_tables</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/security_groups.html">security_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/security_group_rules.html">security_group_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/subnets.html">subnets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vpcs.html">vpcs</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/vpc_ipv6_address_bandwidth.html">vpc_ipv6_address_bandwidth</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vpc_ipv6_gateway.html">vpc_ipv6_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/network_acl.html">network_acl</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/network_acl_associate.html">network_acl_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/network_interface.html">network_interface</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/network_interface_attach.html">network_interface_attach</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/route_entry.html">route_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/route_table.html">route_table</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/route_table_associate.html">route_table_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/security_group.html">security_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/security_group_rule.html">security_group_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/subnet.html">subnet</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vpc.html">vpc</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">VPN</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/d/customer_gateways.html">customer_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/ssl_vpn_client_certs.html">ssl_vpn_client_certs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/ssl_vpn_servers.html">ssl_vpn_servers</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vpn_connections.html">vpn_connections</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vpn_gateways.html">vpn_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/d/vpn_gateway_routes.html">vpn_gateway_routes</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/byteplus/r/customer_gateway.html">customer_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ssl_vpn_client_cert.html">ssl_vpn_client_cert</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/ssl_vpn_server.html">ssl_vpn_server</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vpn_connection.html">vpn_connection</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vpn_gateway.html">vpn_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/byteplus/r/vpn_gateway_route.html">vpn_gateway_route</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>
    <%= yield %>
<% end %>
